<div class="flex justify-center items-center px-[20px] md:px-[40px] py-[12px]  "><button id="buy-button" type="submit" name="add" class="flex justify-center items-center gap-1 bg-[#a40011] hover:bg-[#50000B] text-white font-bold py-2 px-4 rounded-full" data-default-text="Add to cart" data-quarterly-text="START MY 90-DAY TRANSFORMATION PROGRAM" aria-haspopup="dialog">
    <p id="plan1" class="plan-text">
      <span>START MY 90-DAY TRANSFORMATION PROGRAM</span>
      <span> – </span>
      <span>$87.33 USD/mo</span>
    </p>
    <p id="plan2" class="plan-text hidden"> <span>ADD TO CART</span>
      <span class="dash_new"> – </span>
      <span>$99 USD/mo</span>
    </p>

  </button></div>