<div class="bg-white text-[#50000B] w-full overflow-hidden py-16">
  <h2 class="abc-arizona text-4xl text-center mb-10">What our IM8 Ambassadors are saying</h2>

  <div class="swiper product-ambassador-swiper overflow-visible">
    <div class="swiper-wrapper">
      <div class="swiper-slide w-[80px] md:w-[150px]">
        <button type="button" class="relative block w-full overflow-hidden rounded-2xl shadow-lg" data-video-src="//im8health.com/cdn/shop/videos/c/vp/12eb3b01fd54404d81ef22a20d415f15/12eb3b01fd54404d81ef22a20d415f15.HD-1080p-2.5Mbps-38313438.mp4?v=0" onclick="openVideoModal(this.dataset.videoSrc)">
          <img src="//im8health.com/cdn/shop/files/preview_images/thm-expert_robinB2.jpg?v=1731999065" alt="Ambassador video 1" class="w-full h-full object-cover">
          <span class="absolute inset-0 flex items-center justify-center">
            <img src="../assets/icons/play-circle.svg" alt="Play video" class="w-12 h-12">
          </span>
        </button>
      </div>

      <div class="swiper-slide w-[80px] md:w-[150px]">
        <button type="button" class="relative block w-full overflow-hidden rounded-2xl shadow-lg" data-video-src="//im8health.com/cdn/shop/videos/c/vp/e83246a2555949139036fce9bc1359a2/e83246a2555949139036fce9bc1359a2.HD-1080p-3.3Mbps-38232086.mp4?v=0" onclick="openVideoModal(this.dataset.videoSrc)">
          <img src="//im8health.com/cdn/shop/files/preview_images/influe-carou_bobbyRich2.jpg?v=1731863977" alt="Ambassador video 2" class="w-full h-full object-cover">
          <span class="absolute inset-0 flex items-center justify-center">
            <img src="../assets/icons/play-circle.svg" alt="Play video" class="w-12 h-12">
          </span>
        </button>
      </div>

      <div class="swiper-slide w-[80px] md:w-[150px]">
        <button type="button" class="relative block w-full overflow-hidden rounded-2xl shadow-lg" data-video-src="//im8health.com/cdn/shop/videos/c/vp/f7f68153342f4566ad00f411e2fb407b/f7f68153342f4566ad00f411e2fb407b.HD-1080p-7.2Mbps-38222859.mp4?v=0" onclick="openVideoModal(this.dataset.videoSrc)">
          <img src="//im8health.com/cdn/shop/files/preview_images/thm-expert_amyShah2.jpg?v=1731864964" alt="Ambassador video 3" class="w-full h-full object-cover">
          <span class="absolute inset-0 flex items-center justify-center">
            <img src="../assets/icons/play-circle.svg" alt="Play video" class="w-12 h-12">
          </span>
        </button>
      </div>

      <div class="swiper-slide w-[80px] md:w-[150px]">
        <button type="button" class="relative block w-full overflow-hidden rounded-2xl shadow-lg" data-video-src="//im8health.com/cdn/shop/videos/c/vp/064b8beaa0b04a4fad25676155936d3a/064b8beaa0b04a4fad25676155936d3a.HD-1080p-2.5Mbps-38221672.mp4?v=0" onclick="openVideoModal(this.dataset.videoSrc)">
          <img src="//im8health.com/cdn/shop/files/preview_images/thm-influ_dustinPoirier.jpg?v=1731833492" alt="Ambassador video 4" class="w-full h-full object-cover">
          <span class="absolute inset-0 flex items-center justify-center">
            <img src="../assets/icons/play-circle.svg" alt="Play video" class="w-12 h-12">
          </span>
        </button>
      </div>

      <div class="swiper-slide w-[80px] md:w-[150px]">
        <button type="button" class="relative block w-full overflow-hidden rounded-2xl shadow-lg" data-video-src="//im8health.com/cdn/shop/videos/c/vp/809d17a1684d40058d499ecd9afe9e21/809d17a1684d40058d499ecd9afe9e21.HD-1080p-4.8Mbps-38222820.mp4?v=0" onclick="openVideoModal(this.dataset.videoSrc)">
          <img src="//im8health.com/cdn/shop/files/preview_images/image_54.png?v=1731863088" alt="Ambassador video 5" class="w-full h-full object-cover">
          <span class="absolute inset-0 flex items-center justify-center">
            <img src="../assets/icons/play-circle.svg" alt="Play video" class="w-12 h-12">
          </span>
        </button>
      </div>

      <div class="swiper-slide w-[80px] md:w-[150px]">
        <button type="button" class="relative block w-full overflow-hidden rounded-2xl shadow-lg" data-video-src="//im8health.com/cdn/shop/videos/c/vp/1f4b2af008104c92a29f9d78814f1aa0/1f4b2af008104c92a29f9d78814f1aa0.HD-1080p-3.3Mbps-38232121.mp4?v=0" onclick="openVideoModal(this.dataset.videoSrc)">
          <img src="//im8health.com/cdn/shop/files/preview_images/1f4b2af008104c92a29f9d78814f1aa0.thumbnail.0000000000.jpg?v=1731860287" alt="Ambassador video 6" class="w-full h-full object-cover">
          <span class="absolute inset-0 flex items-center justify-center">
            <img src="../assets/icons/play-circle.svg" alt="Play video" class="w-12 h-12">
          </span>
        </button>
      </div>
    </div>
  </div>
</div>