    <nav role="navigation" class="text-[13px] md:text-[15px] abc-arizona font-bold">
      <ul class="text-[#50000b] flex flex-row justify-between items-center gap-3">
        <li class="relative">

          <a href="#" class="flex justify-center items-center  px-[20px] py[18px] hover:underline decoration-2 underline-offset-2" id="shop-hover">

            <span>Shop</span>
            <img src="../assets/icons/dropdown-arrow.svg" alt="" aria-hidden="true" width="12" height="12">
          </a>

          <div id="shop-extended-container"></div>

        </li>




        <li>
          <a href="#" class="flex justify-center items-center  px-[20px] py[18px] hover:underline decoration-2 underline-offset-2">
            <span>Science</span>
          </a>
        </li>




        <li>
          <a href="#" class="flex justify-center items-center  px-[20px] py[18px] hover:underline decoration-2 underline-offset-2">
            <span>The Beckham Stack</span>
          </a>
        </li>




        <li>
          <a href="#" class="flex justify-center items-center  px-[20px] py[18px] hover:underline decoration-2 underline-offset-2">
            <span>Welcome from David</span>
          </a>
        </li>


      </ul>
    </nav>