      <nav role="navigation" class="text-[13px] md:text-[15px] abc-arizona font-bold">
        <ul class="text-[#50000b] flex flex-row  justify-evenly items-center gap-3">
          <li>
            <a href="#" class="flex justify-center items-center  px-[20px] py[18px]  px-[20px] py[18px] hover:underline decoration-2 underline-offset-2">
              <span>Reviews</span>
            </a>
          </li>
          <li>
            <a href="#" class="flex justify-center items-center  px-[20px] py[18px] px-[20px] py[18px] hover:underline decoration-2 underline-offset-2">
              <span>Ingredients</span>
            </a>
          </li>
          <li class="relative">
            <button type="button" class="flex justify-center items-center  px-[20px] py[18px]  px-[20px] py[18px] hover:underline decoration-2 underline-offset-2" id="discover-hover">
              <span>Discover</span>
              <img src="../assets/icons/dropdown-arrow.svg" alt="" aria-hidden="true" width="12" height="12">
            </button>
            <div id="discover-extended-container"></div>
          </li>
          <li>
            <a href="#" class="flex justify-center items-center  px-[20px] py[18px]  px-[20px] py[18px] hover:underline decoration-2 underline-offset-2">
              <img src="../assets/icons/user-profile.svg" alt="User profile" width="32" height="32">
            </a>
          </li>

          <li>
            <div class="relative inline-flex justify-center items-center hover:underline decoration-2 underline-offset-2">
              <a href="#" class="flex justify-center items-center  px-[20px] py[18px]  px-[20px] py[18px]">
                <img src="../assets/icons/cart.svg" alt="Cart icon" class="icon icon-cart-empty" width="32" height="32">
              </a>
              <span aria-hidden="true" class="absolute inset-0 m-auto text-[#50000b] text-[10px] w-5 h-5 flex items-center justify-center">0</span>
            </div>
          </li>


        </ul>
      </nav>