<div id="videoModal" class="fixed inset-0 z-50 hidden items-center justify-center bg-black/60 px-[20px] md:px-[40px] py-[12px]">
  <div class="relative w-[90vw] max-w-[520px] max-h-[70vh]">
    <video id="video-modal-video" class="w-full max-h-[70vh] rounded-2xl shadow-[0_4px_16px_rgba(0,0,0,0.2)]" controls playsinline></video>
    <button id="closeVideoModal" type="button" class="absolute top-4 right-4 inline-flex h-10 w-10 items-center justify-center rounded-full bg-white shadow-lg hover:shadow-xl transition-shadow duration-200">
      <img src="../assets/icons/close.svg" alt="close modal" class="w-6 h-6" />
    </button>
  </div>
</div>